.task1-container {
    border: 1px solid black;
    margin: 2rem auto;
    width: 70%;
}
.task1-container h1 {
    text-align: center;
}
.task1-container .title-container,
.task1-container .description-container,
.task1-container .btns {
    margin-bottom: 1rem;
    margin-left: 3rem;
}
.task1-container .description-container textarea {
    resize: none;
}
.task1-container button {
    border-radius: .5rem;
    padding: .4rem;
    text-align: center;
    margin-right: 1rem;
    border: 1px solid black;
    width: 4rem;
    background: transparent;
}
.task1-container > hr {
    margin: 2rem 0 0 0;
    border: 1px solid black;
}
.task-body {
    margin-top: 2rem;
}
.task-body > :not(:last-child)  {
    margin-left: 3rem;
}
.task-body > hr {
    border-color: black;
    border-style: dashed;
    border-width: 0.2px;
    margin: 1rem 0 0rem 0;
} 
.todo-list :last-child > hr {
    display: none;
}
.todo-list :last-child {
    margin-bottom: 1rem;
}


